swagger: "2.0"
info:
  title: 10DLC
  contact:
    email: support@sinch.com
    name: Support
  description: >-
    Service for getting, listing and managing brands and campaigns.


    ## Authentication


    <h3>Basic</h3>


    Our basic security works with any project, use the client_id and
    client_secret that were displayed when you created your access key through
    the dashboard.


    Learn more about Sinch authentication and authorization

     <table><thead><tr><th>Security Scheme Type</th><th>HTTP</th></tr></thead><tbody><tr><td><b>HTTP Authorization Scheme</b></td><td>basic</td></tr></tbody></table>

    <h3>OAuth</h3>

    This is the recommended way to access our apis.


    Learn more about Sinch authentication and authorization

     <table><thead><tr><th>Security Scheme Type</th><th>OAuth2</th></tr></thead><tbody><tr><td><b>clientCredentials OAuth Flow</b></td><td><b>Token URL:</b><br><a href="https://eu.auth.sinch.com/oauth2/token">https://eu.auth.sinch.com/oauth2/token</a><br><br><b>Revoke URL:</b><br><a href="https://eu.auth.sinch.com/oauth2/revoke">https://eu.auth.sinch.com/oauth2/revoke</a></td></tr></tbody></table>
  version: "1.0"
host: 10dlc.api.sinch.com
consumes:
  - application/json
produces:
  - application/json
paths:
  "/v1/projects/{projectId}/brands":
    get:
      summary: Lists brand for a project
      description: Lists all brands for a project.
      operationId: 10DLCService_ListBrands
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ListActiveBrandsResponse"
        "400":
          description: "If the page_token, number_pattern or order_by is not valid"
          schema: {}
          examples:
            application/json:
              error:
                code: 400
                message: ""
                status: INVALID_ARGUMENT
                details:
                  - type: BadRequest
                    fieldViolations:
                      - field: order_by
                        description: Invalid order_by XXX
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            Your project id can be found if you log into your account on
            dashboard.sinch.com.
          in: path
          required: true
          type: string
      tags:
        - Brands
  "/v1/projects/{projectId}/brands/{brandId}":
    patch:
      summary: Update brand information.
      description: >-
        Here you can update most of the brand data.
      operationId: 10DLCService_UpdateBrand
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ActiveBrand"
        "404":
          description: The brand could not be found
          schema: {}
          examples:
            application/json:
              error:
                code: 404
                message: ""
                status: NOT_FOUND
                details:
                  - type: ResourceInfo
                    description: "Brand Id not found"
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: The ID of the project resource
          in: path
          required: true
          type: string
        - name: brandId
          description: >-
            The brand id
          in: path
          required: true
          type: string
        - name: body
          description: The body to be updated
          in: body
          required: true
          schema:
            $ref: "#/definitions/v1ActiveBrand"
      tags:
        - Brands
    get:
      summary: Get a specific brand.
      operationId: 10DLCService_GetBrand
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ActiveBrand"
        "404":
          description: The brand could not be found
          schema: {}
          examples:
            application/json:
              error:
                code: 404
                message: ""
                status: NOT_FOUND
                details:
                  - type: ResourceInfo
                    description: "The brand id could not be found"
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            Your project id can be found if you log into your account on
            dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: brandId
          description: The id of the active brand to retrieve.
          in: path
          required: true
          type: string
      tags:
        - Brands
  "/v1/projects/{projectId}/brands/{brandId}:release":
    post:
      summary: Release an active brand.
      description: Removed the active brand from your inventory.
      operationId: 10DLCService_ReleaseBrand
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ActiveBrand"
        "404":
          description: The brand could not be found
          schema: {}
          examples:
            application/json:
              error:
                code: 404
                message: ""
                status: NOT_FOUND
                details:
                  - type: ResourceInfo
                    description: "The brand id could not be found"
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            The ID of the project resource. Your project id can be found if you
            login to your account on dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: brandId
          description: The brand ID to be released.
          in: path
          required: true
          type: string
      tags:
        - Brands
  "/v1/projects/{projectId}/brands:create":
    post:
      summary: Create and submit a new brand request.
      description: Create a new brand request towards TCR. An AEGIS vetting will be done.
      operationId: 10DLCService_CreateBrand
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ActiveBrand"
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            The ID of the project resource. Your project id can be found if you
            login to your account on dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: body
          schema:
            $ref: "#/definitions/v1CreateBrand"
          description: The brand details to be submitted.
          in: body
          required: true
      tags:
        - Brands
  "/v1/projects/{projectId}/brands/{brandId}:import":
    post:
      summary: Import a brand.
      description: Imports an already registered brand to Sinch to enable 10DLC numbers
      operationId: 10DLCService_ImportBrand
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ActiveBrand"
        "404":
          description: The brand could not be found
          schema: {}
          examples:
            application/json:
              error:
                code: 404
                message: ""
                status: NOT_FOUND
                details:
                  - type: ResourceInfo
                    description: "The brand id could not be found"
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            The ID of the project resource. Your project id can be found if you
            login to your account on dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: brandId
          description: The brand ID to be imported.
          in: path
          required: true
          type: string
      tags:
        - Brands
  "/v1/projects/{projectId}/brands/{brandId}:addExternalVetting":
    post:
      summary: Add an external vetting ID to your brand
      description: Adds an external vetting from Aegis or WMC to your already registered brand
      operationId: 10DLCService_AddExternalVetting
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ExternalVetting"
        "404":
          description: The brand could not be found
          schema: {}
          examples:
            application/json:
              error:
                code: 404
                message: ""
                status: NOT_FOUND
                details:
                  - type: ResourceInfo
                    description: "The brand id could not be found"
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            The ID of the project resource. Your project id can be found if you
            login to your account on dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: brandId
          description: The active phone number to release.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/v1ExternalVetting"
      tags:
        - Brands
  "/v1/projects/{projectId}/campaigns":
    get:
      summary: Search virtual numbers
      description: >-
        Search for virtual numbers that are available for you to activate. You
        can filter by any property on the available number resource.
      operationId: 10DLCService_ListCampaigns
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ListAvailableNumbersResponse"
        "400":
          description: "If the number_pattern, type or capability is not valid"
          schema: {}
          examples:
            application/json:
              error:
                code: 400
                message: 'parsing field "type": "XXX" is not a valid value'
                status: INVALID_ARGUMENT
                details: []
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            The resource name of the project id. Your project id can be found if
            you login to your account on dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: pattern
          description: Sequence of digits to search for.
          in: query
          required: false
          type: string
        - name: searchPattern
          description: |-
            Search pattern to apply.

             - SEARCH_PATTERN_UNSPECIFIED: Null value
             - START: Numbers that start with the provided sequence of digits
             - CONTAINS: Numbers that contain the sequence of digits
             - END: Numbers that end with the sequence of digits
          in: query
          required: false
          type: string
          enum:
            - SEARCH_PATTERN_UNSPECIFIED
            - START
            - CONTAINS
            - END
          default: SEARCH_PATTERN_UNSPECIFIED
        - name: regionCode
          description: >-
            Only return numbers for the given region code. ISO 3166-1 alpha-2
            country code of the phone number. Example US, GB or SE.
          in: query
          required: true
          type: string
        - name: type
          description: |-
            Only return numbers with the given v1. MOBILE, LOCAL or TOLL_FREE.

             - MOBILE: Numbers that belong to a specific range
             - LOCAL: Numbers that are assigned to a specific geographic region
             - TOLL_FREE: Number that are free of charge for the calling party but billed for all arriving calls
          in: query
          required: true
          type: string
          enum:
            - MOBILE
            - LOCAL
            - TOLL_FREE
          default: MOBILE
        - name: capability
          description: |-
            Number capability to filter by. SMS and/or VOICE.

             - SMS: The SMS product can use the number
             - VOICE: The Voice product can use the number
          in: query
          required: false
          type: string
          enum:
            - SMS
            - VOICE
          default: SMS
        - name: size
          description: Optional. The maximum number of items to return.
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - Campaigns
  "/v1/projects/{projectId}/campaigns/{campaignId}":
    get:
      summary: Fetch an available virtual number
      description: Returns an available virtual number.
      operationId: 10DLCService_GetCampaign
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1AvailableNumber"
        "404":
          description: The available number could not be found
          schema: {}
          examples:
            application/json:
              error:
                code: 404
                message: ""
                status: NOT_FOUND
                details:
                  - type: ResourceInfo
                    resourceType: sinch.unifiednumber.v1alpha2.AvailableNumber
                    resourceName: "+12025550134"
                    owner: ""
                    description: ""
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            Your project id can be found if you log into your account on
            dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: campaignId
          description: >-
            The phone number in e.164 format with leading +. Example
            +12025550134.
          in: path
          required: true
          type: string
      tags:
        - Campaigns
  "/v1/projects/{projectId}/campaigns/{campaignId}:release":
    post:
      summary: Activate a new virtual number
      description: Activate a virtual number to use with SMS or Voice products.
      operationId: 10DLCService_ReleaseCampaign
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ActiveBrand"
        "400":
          description: If the project does not have enough credit to rent the number
          schema: {}
        "404":
          description: The available number could not be found
          schema: {}
          examples:
            application/json:
              error:
                code: 404
                message: ""
                status: NOT_FOUND
                details:
                  - type: ResourceInfo
                    resourceType: sinch.unifiednumber.v1alpha2.AvailableNumber
                    resourceName: "+12025550134"
                    owner: ""
                    description: ""
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            The ID of the project resource. Your project id can be found if you
            login to your account on dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: campaignId
          description: The available phone number to rent.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/v1RentNumberRequest"
      tags:
        - Campaigns
  "/v1/projects/{projectId}/campaigns:create":
    post:
      summary: Activate a new virtual number
      description: Activate a virtual number to use with SMS or Voice products.
      operationId: 10DLCService_CreateCampaign
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: "#/definitions/v1ActiveBrand"
        "400":
          description: If the project does not have enough credit to rent the number
          schema: {}
        "404":
          description: The available number could not be found
          schema: {}
          examples:
            application/json:
              error:
                code: 404
                message: ""
                status: NOT_FOUND
                details:
                  - type: ResourceInfo
                    resourceType: sinch.unifiednumber.v1alpha2.AvailableNumber
                    resourceName: "+12025550134"
                    owner: ""
                    description: ""
        default:
          description: An unexpected error response.
          schema:
            $ref: "#/definitions/rpcStatus"
      parameters:
        - name: projectId
          description: >-
            The ID of the project resource. Your project id can be found if you
            login to your account on dashboard.sinch.com.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/v1RentNumberRequest"
      tags:
        - Campaigns
definitions:
  NumberPatternSearchPattern:
    type: string
    enum:
      - SEARCH_PATTERN_UNSPECIFIED
      - START
      - CONTAINS
      - END
    default: SEARCH_PATTERN_UNSPECIFIED
    description: |-
      - SEARCH_PATTERN_UNSPECIFIED: Null value
       - START: Numbers that start with the provided sequence of digits
       - CONTAINS: Numbers that contain the sequence of digits
       - END: Numbers that end with the sequence of digits
    title: Search Pattern
  protobufAny:
    type: object
    properties:
      typeUrl:
        type: string
      value:
        type: string
        format: byte
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          $ref: "#/definitions/protobufAny"
  typeMoney:
    type: object
    properties:
      currencyCode:
        type: string
        description: The 3-letter currency code defined in ISO 4217.
      amount:
        type: string
        description: |-
          The amount in decimal form.
          For example `42.0001`.
          There are no guarantees on the precision unless
          documented by the message origin.
    title: Money
  v1FinancialDetails:
    type: object
    properties:
      entityType:
        enum:
          - INDIVIDUAL
          - PRIVATE_PROFIT
          - PUBLIC_PROFIT
          - NON_PROFIT
        description: Entity type behind the brand.
      verticalType:
        enum:
          - Agriculture
          - Communication and Mass Media
          - Education
          - Energy and Utilities
          - Entertainment
          - Financial
          - Gambling Lottery
          - Government
          - Healthcare
          - Hospitality and Travel
          - Insurance
          - Manufacturing
          - Non Government Organization
          - Real Estate
          - Retail
          - Information Technology
        description: Vertical Type of the brand.
      ein:
        type: string
        description: >-
          Output only. Tax ID of the business.
        readOnly: true
      altBusinessIdType:
        enum:
          - DUNS
          - LEI
          - GIIN
        description: Output only. Alternative Business Identifier Type. e.g. DUNS, LEI, GIIN.
        readOnly: true
      altBusinessId:
        type: string
        description: >-
          Output only. Alternative Business Identifier.
        readOnly: true
      stockSymbol:
        type: string
        description: >-
          The stock symbol of the brand.
      stockExchange:
        enum:
          - "NONE"
          - "NASDAQ"
          - "NYSE"
          - "AMEX"
          - "AMX"
          - "ASX"
          - "B3"
          - "BME"
          - "BSE"
          - "FRA"
          - "ICEX"
          - "JPX"
          - "JSE"
          - "KRX"
          - "LON"
          - "NSE"
          - "OMX"
          - "SEHK"
          - "SSE"
          - "STO"
          - "SWX"
          - "SZSE"
          - "TSX"
          - "TWSE"
          - "VSE"
        description: >-
          The stock exchange of the brand.
      externalVettingProvider:
        enum:
          - NONE
          - Aegis Mobile
          - WMC Global
        description: The vetting company provider id.
      externalVettingId:
        type: string
        description: If the customer has previously done a vetting with one of the providers than the customer can add that information to the bundle.
    title: Financial Details
  v1Contact:
    type: object
    properties:
      firstName:
        type: string
        description: >-
          First name of the point of support contact.
      lastName:
        type: string
        description: >-
          Last name of the point of support contact.
      email:
        type: string
        description: >-
          The email address of support contact.
      phone:
        type: integer
        format: int32
        description: "The support contact telephone in e.164 format. E.g. +12023339999."
      company:
        type: string
        description: If contact person is working for another company then legal company/brand. Aggregator
    title: Contact
    description: Your contact details
  v1ExternalVetting:
    type: object
    properties:
      evpId:
        enum:
          - AEGIS Mobile
          - WMC Global
        description: >-
          One of following values should be used depending on vetting provider; AEGIS, WMC
      vettingID:
        type: string
        description: >-
          The vetting ID received from Aegis or WMC
      vettingToken:
        type: string
        description: >-
          Not used by WMC
    title: Add External Vetting
    description: Bring your own vetting id and register it on your brand.
  v1ActiveBrand:
    type: object
    properties:
      projectId:
        type: string
        description: >-
          Output only. Project id. Your project id can be found if you log into
          your account on dashboard.sinch.com.
        readOnly: true
      brandId:
        type: integer
        format: int32
        description: >-
          Output only. Brand ID assigned by TCR.
        readOnly: true
      displayName:
        type: string
        description: >-
          Brand/Marketing name of the business.
      companyName:
        type: string
        description: Output only. The legal name of the business.
        readOnly: true
      street:
        type: string
        description: "Street name and house number. E.g. 1000 Sunset Hill Road"
      city:
        type: string
        description: Output only. City name.
      postalCode:
        type: integer
        format: int32
        description: >-
          Zipcode or postal code. E.g. 21012
      state:
        type: string
        description: >-
          State or province. For the United States, please use 2 character codes. E.g. 'CA' for California.
      country:
        type: string
        description: >-
          2 letter ISO-2 country code. E.g. US, CA
      companyEmail:
        type: string
        description: An e-mail address the company/brand sending the messages
      website:
        type: string
        description: >-
          The website of the business.
      financialDetails:
        $ref: "#/definitions/v1FinancialDetails"
        description: Financial Details
      contactDetails:
        $ref: "#/definitions/v1Contact"
        description: Contact Details to the company owning the brand
      aggregatorDetails:
        $ref: "#/definitions/v1Contact"
        description: If you are acting as an aggregator, this is where you put your contact details.
    description: >-
      The active brands
    title: Active Brand
  v1CreateBrand:
    type: object
    properties:
      projectId:
        type: string
        description: >-
          Project id. Your project id can be found if you log into
          your account on dashboard.sinch.com.
      vettingType:
        enum:
          - Identity
          - Standard
        description: Select vetting type, Identity costs 10USD and Standard costs 50USD. Charges will be done towards your account balance. Standard vetting will grant higher throughput then an identity check.
      displayName:
        type: string
        description: >-
          Brand/Marketing name of the business.
      companyName:
        type: string
        description: The legal name of the business.
      street:
        type: string
        description: "Street name and house number. E.g. 1000 Sunset Hill Road"
      city:
        type: string
        description: Output only. City name.
      postalCode:
        type: integer
        format: int32
        description: >-
          Zipcode or postal code. E.g. 21012
      state:
        type: string
        description: >-
          State or province. For the United States, please use 2 character codes. E.g. 'CA' for California.
      country:
        type: string
        description: >-
          2 letter ISO-2 country code. E.g. US, CA
      website:
        type: string
        description: >-
          The website of the business.
      companyEmail:
        type: string
        description: An e-mail address the company/brand sending the messages
      financialDetails:
        $ref: "#/definitions/v1FinancialDetails"
        description: Financial Details
      contactDetails:
        $ref: "#/definitions/v1Contact"
        description: Contact Details to the company owning the brand
      aggregatorDetails:
        $ref: "#/definitions/v1Contact"
        description: If you are acting as an aggregator, this is where you put your contact details.
    description: >-
      The phone number that has been bought by a customer and assigned to a
      project.
    title: Create Brand
  v1AvailableNumber:
    type: object
    properties:
      phoneNumber:
        type: string
        title: The phone number in E.164 format with leading +. Example +12025550134
      regionCode:
        type: string
        description: >-
          Output only. ISO 3166-1 alpha-2 country code of the phone number.
          Example US, UK or SE.
        readOnly: true
      type:
        $ref: "#/definitions/v1NumberType"
        description: "Output only. The phone number v1. MOBILE, LOCAL or TOLL_FREE."
        readOnly: true
      capability:
        type: array
        items:
          $ref: "#/definitions/v1NumberCapability"
        description: >-
          Output only. Which capabilities the phone number supports. SMS and/or
          VOICE.
        readOnly: true
      setupPrice:
        $ref: "#/definitions/typeMoney"
        description: Output only. One time fee for setting up the phone number.
        readOnly: true
      monthlyPrice:
        $ref: "#/definitions/typeMoney"
        description: Output only. The recurring price that applies to this phone number.
        readOnly: true
      paymentIntervalMonths:
        type: integer
        format: int32
        description: Output only. How often the recurring price is charged in months.
        readOnly: true
      supportingDocumentationRequired:
        type: boolean
        title: >-
          Output only. Whether or not supplementary documentation will be
          required to complete purchase
        readOnly: true
    description: >-
      The phone numbers that are available to be purchased in
      dashboard.sinch.com or via the public numbers API.
    title: Campaigns
  v1ListActiveBrandsResponse:
    type: object
    properties:
      activeNumbers:
        type: array
        items:
          $ref: "#/definitions/v1ActiveBrand"
        description: >-
          List of brands associated to the client project specified in
          `ListActiveBrands`.
      nextPageToken:
        type: string
        title: The token to be used for listing the next page
      totalSize:
        type: integer
        format: int32
        title: "https://cloud.google.com/apis/design/design_patterns#list_pagination"
    description: Response message to list your active phone numbers
    title: Active Brands Response
  v1ListAvailableNumbersResponse:
    type: object
    properties:
      availableNumbers:
        type: array
        items:
          $ref: "#/definitions/v1AvailableNumber"
        description: List of available phone numbers.
    description: Response message to list available phone numbers
    title: Available Numbers Response
  v1NumberCapability:
    type: string
    enum:
      - SMS
      - VOICE
    default: SMS
    description: |2-
       - SMS: The SMS product can use the number
       - VOICE: The Voice product can use the number
    title: Capability
  v1NumberPattern:
    type: object
    properties:
      pattern:
        type: string
        description: Sequence of digits to search for.
      searchPattern:
        $ref: "#/definitions/NumberPatternSearchPattern"
        description: Search pattern to apply.
    title: Search Pattern
  v1NumberType:
    type: string
    enum:
      - MOBILE
      - LOCAL
      - TOLL_FREE
    default: MOBILE
    description: |2-
       - MOBILE: Numbers that belong to a specific range
       - LOCAL: Numbers that are assigned to a specific geographic region
       - TOLL_FREE: Number that are free of charge for the calling party but billed for all arriving calls
    title: Type
  v1ProvisioningStatus:
    type: string
    enum:
      - WAITING
      - IN_PROGRESS
      - FAILED
    default: WAITING
    description: |2-
       - WAITING: The sms configuration has been scheduled
       - IN_PROGRESS: The sms configuration change is in progress.
       - FAILED: The sms configuration change has failed.
    title: Provisioning Status for the SMS service
  v1RentNumberRequest:
    type: object
    properties:
      projectId:
        type: string
        description: >-
          The ID of the project resource. Your project id can be found if you
          login to your account on dashboard.sinch.com.
        required:
          - project_id
      phoneNumber:
        type: string
        description: The available phone number to rent.
        required:
          - phone_number
      smsConfiguration:
        $ref: "#/definitions/v1SmsConfiguration"
        description: >-
          Optional. Sms configuration. The service_plan_id can be found when
          logging into dashboard.sinch.com in SMS>APIs section.
      voiceConfiguration:
        $ref: "#/definitions/v1VoiceConfiguration"
        description: >-
          Optional. Voice configuration. The service_plan_id can be found when
          logging into dashboard.sinch.com in Voice & Video>Apps section.
      campaignConfiguration:
        $ref: "#/definitions/v1CampaignConfiguration"
        description: >-
          Optional. Campaign configuration. Used to configure a 10DLC campaign to a number.
    description: Request message for renting a phone number.
    title: Rent Number Request
    required:
      - projectId
      - phoneNumber
  v1ScheduledProvisioning:
    type: object
    properties:
      servicePlanId:
        type: string
        description: Output only. Service plan of the scheduled provisioning task.
        readOnly: true
      status:
        $ref: "#/definitions/v1ProvisioningStatus"
        description: Output only. Status of the pending change.
        readOnly: true
      lastUpdatedTime:
        type: string
        format: date-time
        description: Output only. Timestamp when the status was last updated.
        readOnly: true
  v1ScheduledVoiceProvisioning:
    type: object
    properties:
      app:
        type: string
        description: Output only. App of the scheduled provisioning task.
        readOnly: true
      status:
        $ref: "#/definitions/v1ProvisioningStatus"
        description: Output only. Status of the pending change.
        readOnly: true
      lastUpdatedTime:
        type: string
        format: date-time
        description: Output only. Timestamp when the status was last updated.
        readOnly: true
    title: Scheduled Provisioning
  v1SmsConfiguration:
    type: object
    properties:
      servicePlanId:
        type: string
        description: |-
          The current sms configuration for this number.
          The service_plan_id can be found when logging into dashboard.sinch.com
          in SMS>APIs section.
      scheduledProvisioning:
        $ref: "#/definitions/v1ScheduledProvisioning"
        description: Output only. Status of any pending changes to the sms routing.
        readOnly: true
    description: Sms configuration
    title: Sms Configuration
  v1VoiceConfiguration:
    type: object
    properties:
      app:
        type: string
        description: |-
          The current voice configuration for this number.
          The app can be found when logging into dashboard.sinch.com
          in Voice & Video >Apps section.
      scheduledProvisioning:
        $ref: "#/definitions/v1ScheduledVoiceProvisioning"
        description: Output only. Status of any pending changes to the voice routing.
        readOnly: true
    description: Voice configuration
    title: Voice Configuration
  v1CampaignConfiguration:
    type: object
    properties:
      smsCampaignId:
        type: string
        description: |-
          The Campaing Id. This can be the TCR campaign Id registered on your brand and account.
      smsProvisioningStatus:
        type: string
        description: Output only. Status of the provisioning of the campaign.
        readOnly: true
    description: Campaign configuration
    title: Campaign configuration
x-explorer-enabled: false
x-samples-languages:
  - curl
  - java
  - csharp
  - node
  - php
